.App {
  text-align: center;
  margin: 0 auto;
}

.App-header {
  background-color: #181717;
  min-height: 50px;
  height:10vh;
  position:fixed;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index:99;
  padding:10px;
  box-sizing:border-box;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center2{
  display: flex;
  justify-content: center;
}

img.fdmlogo { 
 width: 6em;
 padding-left: 1em;
}

nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;
  width: 100%;
  background-color: #b396d9;
  border-bottom: 2px solid #2C2436; 
}

nav li a {
  position: sticky;
  float: left;
  font-family: "Gill Sans", sans-serif;
  padding: 0.5em;
  text-decoration: none;
}

nav a.home:hover, a.about:hover, a.faqs:hover, a.contact:hover, a.login:hover, a.register:hover {
  color: #E31B6D; /*DARK PINK*/
}

a.home, a.about, a.faqs, a.contact, a.login, a.register {
  font-size: 13pt;
  margin-top: 0.5em;
  color: white;
}

a.login, a.register {
  float: right;
  margin-top: 0.5em;
  color: white;
  background-color:  #2C2436; 
  border-radius: 45px;
}

li.login, li.register {
  font-size: 12pt;
  float: right;
  margin-right: 0.5em;
  opacity: 80%;
}

li.login:hover, li.register.hover{
	color: #E31B6D;
}

body{
	background-color: rgb(219,246,255)
}

main{
	padding: 5%;
	height: 80%;
	margin-left: 10%;
	margin-right:10%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

main::-webkit-scrollbar{
	width:  0.25rem;
}

main::-webkit-scrollbar-track{
	background:#1e1e24;
}

main::-webkit-scrollbar-thumb{
	background: #6649b8;
}

form{
	height: 10%;
	position:fixed;
	bottom:0;
	background-color: rgb(255,255,255);
	width:100%;
	display:flex;
	font-size:1.5rem;
}

form button{
	width:20%;
	background-color: rgb(208,184,221);
}

input{
	line-height:1.5;
	width: 100%;
	font-size: 1.5rem;
	background-color: rgb(58,58,58);
	color:white;
	padding-right:5%;
}

button{
	background-color: rgb(208,184,221);
	color: white;
	padding: 5% 10%;
	text-align: center;
	display:inline-block;
	cursor:pointer;
	font-size: 1.5rem;
}

button:disabled {
	opacity:0.5;
	cursor:not-allowed;
}

ul,li{
	text-align:left;
	list-style:none;
}

p{
	max-width: 40%;
	margin-bottom: 12px;
	line-height:24px;
	padding: 10px, 20px;
	border-radius:25px;
	position:relative;
	color:white;
	text-align:center;
}

.message{
	display:flex;
	align-items:center;
}

.sent{
	flex-direction:row-reverse;
}

.sent p{
	color:white;
	background-color: rgb(208,184,221);
	align-self:flex-end;
}

.received p{
	background-color: rgb(208,184,221);
	color:black;
}

img{
	width:5%;
	height:5%;
	border-radius: 50%;
}



