/* styling for mentee home page */
.profileBox{
    margin-top: 1em;
    padding: 2em;
    background-color: rgb(208,184,221);
}

.mentorBox{
    background-color: rgb(207,221,225);
    margin-top: 1em;
    padding: 2em;
}

.meetingsBox{
    background-color: rgb(207,221,225);
    margin-top: 1em;
    padding: 2em;
}