.logo{
    width:85px;
    height: 35px;
}

.navbar{
    background-color: rgb(160, 102, 203);
}

.App{
    background-color: rgb(219, 246, 255);
}

.menteeProfiles{
    background-color: rgb(163, 214, 231);
    border-radius: 1.5em;
}

.profilePhoto{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}